@use 'resets';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    @extend %resets;
}

$main-green: #4D861F;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f5;
  font-family: 'Playfair Display', serif;
}

main {
  width: 360px;
  height: 640px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  img {
    max-width: 80%;
    max-height: 80%;
    transform: scale(0.8);
    animation: grow-logo 1.5s ease forwards 0.5s;
  }

  .logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    animation: fade-out 0.5s ease-in-out forwards;
    animation-delay: 1.5s;

    &.hidden {
      display: none;
    }

    .logo {
      max-width: 100px;
      height: auto;
      margin-bottom: 16px;
      animation: grow-logo 1.5s ease-in-out;
    }

    .app-name {
      font-size: 48px;
      color: #333333;
      font-weight: bold;
      margin-top: 20px;
      animation: fade-in 0.8s ease-in forwards;
      animation-delay: 0.5s;

    }
  }

  .slider,
  .scrollbar,
  .buttons {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, visibility 0.5s;
 

  }

  .slider {
    display: flex;
    width: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
  }

  .visible {
    visibility: visible;
    opacity: 1;
  }

  .slider--slide {
    width: 100%;
    flex-shrink: 0;
  }

  .slider--image {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    padding: 20px;
  }

  .scrollbar {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-top: 1rem;
    padding: 20px;
  }

  .scrollbar__label {
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: #c5c5c5;
  }

  .scrollbar__label:has(.scrollbar__radio:checked) {
    margin: 0 1.5rem;
  }

  .scrollbar__label:has(.scrollbar__radio:checked)::after {
    content: '';
    display: block;
    width: 4rem;
    height: 100%;
    background-color: #4d861f;
    border-radius: 1rem;
    transform: translateX(-1.5rem);
  }

  .scrollbar__radio {
    display: none;
  }

  .buttons {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 20px;
  }

  .buttons__button {
    text-align: center;
    padding: 1rem 3rem;
    border: 2px solid;
    color: #4d861f;
    text-decoration: none;
    border-radius: 10rem;
    width: 100%;
  }

  .continue {
    background-color: #4d861f;
    color: white;
  }

  .space {
    margin: 20px;
    margin-top: 50px;
  }

  .more {
    padding: 20px;
    margin-top: 10px;
    text-align: center;
  }

  .p {
    padding: 20px;
    text-align: center;
  }
}

/* Animations */
@keyframes grow-logo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*login page*/

.wrapper {
  padding: 25px;
}

.logo-container {
  padding: 20px;
}
.app-name2 {
  text-align: center;
}
.welcome-message {
font-size: 16px;
color: #666;
margin-bottom: 2rem;
text-align: center;
}

.social-button {
width: 100%;
padding: 0.75rem;
margin-bottom: 1rem;
border: 2px solid #000;
border-radius: 20px;
background-color: #fff;
font-size: 14px;
cursor: pointer;

&:hover {
  background-color: #f5f5f5;
}
}

.divider {
display: flex;
align-items: center;
gap: 1rem;
margin: 2rem 0;

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #000;
}

p {
  margin: 0;
  font-size: 14px;
  color: #666;
}
}

.password-button {
width: 100%;
padding: 0.75rem;
border: none;
border-radius: 20px;
background-color: #4d861f;
color: #fff;
font-size: 14px;
font-weight: bold;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
cursor: pointer;
margin-bottom: 1rem;

&:hover {
  background-color: #3a6e18;
}
}

.signup-container {
display: flex;
justify-content: center;
align-items: center;
gap: 0.5rem;
margin-top: 1rem;

p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.signup-link {
  font-size: 14px;
  font-weight: bold;
  color: #4d861f;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
}

/*home*/

.logo-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0; 
}

.logo-container2 .logo {
  width: 50px; 
  height: auto;
  margin-right: 0.5rem;
}

.logo-container2 .app-name {
  font-size: 24px; 
  font-weight: bold;
  
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-input {
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

/* settings*/
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-color: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.app-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.settings-title {
  font-size: 32px;
  color: green;
  margin: 20px 0;
}

.category-section {
  margin: 20px 0;
}

.category-heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

/* Styles for category items */
.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.category-name {
  font-size: 18px;
}

.switch-container {
  display: flex;
  justify-content: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

/* Button styles */
.dark-mode-toggle {
  background-color: white;
  border: 2px solid green;
  color: green;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.dark-mode-toggle:hover {
  background-color: green;
  color: white;
}

/* dropdown menu */
.news-dropdown {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}

.dropdown {
  margin-bottom: 1rem;
}

.dropdown-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #4d861f;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: left;
}

.dropdown-content {
  display: none;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.dropdown-content article {
  margin-bottom: 1rem;
}

.dropdown-button:focus + .dropdown-content {
  display: block;
}

/* Footer */
footer {
  padding: 1rem;
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  text-align: center;
}

.footer-nav a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
}

.footer-nav i {
  font-size: 20px;
  display: block;
  margin-bottom: 0.25rem;
}

.footer-nav span {
  font-size: 12px;
  display: block;
}
