/* settings*/
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #fff;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .app-name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .settings-title {
    font-size: 32px;
    color: green;
    margin: 20px 0;
  }
  
  .category-section {
    margin: 20px 0;
  }
  
  .category-heading {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Styles for category items */
  .category-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  .category-name {
    font-size: 18px;
  }
  
  .switch-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #4CAF50;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  
  /* Button styles */
  .dark-mode-toggle {
    background-color: white;
    border: 2px solid green;
    color: green;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .dark-mode-toggle:hover {
    background-color: green;
    color: white;
  }
  